
/* 自定义滚动条 */
@mixin custom_scrollbar(
  $width: 10px,
  $display: block,
  $track-color: rgba(51, 51, 51, 0.1),
  $thumb-color: rgba(51, 51, 51, 0.15),
  $thumb-hover-color: rgba(51, 51, 51, 0.3)
) {
  scrollbar-width: auto; /* firefox */
  &::-webkit-scrollbar {
    width: $width;
    display: $display;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
    border-radius: calc($width / 2);
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: calc($width / 2);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $thumb-hover-color;
  }
}

/* 宽高 */
@mixin wh(
  $width: 100%,
  $height: 100%,
  $maxW: null,
  $maxH: null,
  $minW: null,
  $minH: null
) {
  width: $width;
  height: $height;
  max-width: $maxW;
  max-height: $maxH;
  min-width: $minW;
  min-height: $minH;
}

/* grid 定位 */
@mixin grid_config($columns: 4, $rows: 4, $c_gap: 0px, $r_gap: 0px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  grid-column-gap: $c_gap;
  grid-row-gap: $r_gap;
}

/* 字体 */
@mixin font_config($size: 16px, $color: rgba(51, 51, 51, 1)) {
  font-size: $size;
  color: $color;
}

/* 决定定位 */
@mixin pos_ab($data1: 0px, $data2: 0px, $reverse: 0) {
  position: absolute;
  @if $reverse == 0 {
    top: $data1;
    left: $data2;
  }
  @if $reverse == 1 {
    top: $data1;
    right: $data2;
  }
  @if $reverse == 2 {
    bottom: $data1;
    right: $data2;
  }
  @if $reverse == 3 {
    bottom: $data1;
    left: $data2;
  }
}

/* 固定中心定位 */
@mixin fixed_center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 绝对中心定位 */
@mixin ab_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* flex 中心定位 */
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* flex 布局 */
@mixin flex_config($isrow: 0, $layout: space-between, $wrap: nowrap) {
  display: flex;
  @if $isrow != 0 {
    flex-flow: column $wrap;
  } @else {
    flex-flow: row $wrap;
  }
  align-items: center;
  justify-content: $layout;
}

/* 100% 宽高 */
@mixin full_wh {
  width: 100%;
  height: 100%;
}

/* 样式配置 */
@mixin style_common($radius: 12px, $bg: null, $border: null, $bs: null) {
  border-radius: $radius;
  @if $bg != null {
    background: $bg;
  }
  @if border != null {
    border: $border;
  }
  @if $bs != null {
    box-shadow: $bs;
  }
}

/* 通用样式 */
@mixin app_common {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // 移除滚动条
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    outline: none;
  }

  html,
  body,
  #app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'ceyy';
    background: rgba(0, 0, 0, 0);
  }
  a,
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  // 数字输入框去除上下箭头
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

// 阴影
$shadow1: 0px 2px 35px rgba(0, 0, 0, 0.07);
